/*
 *  This file should contain your custom style rules.
 */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.centerMain {
  width: 100%;
  padding: 10%;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.padding10 {
  padding: 1%;
}

.margin10 {
  margin: 1%;
}

.floatRight {
  float: right;
  position: relative;
}

.test {
  padding: 50%;
}

#message-input {
  position: fixed;
  bottom: 0;
  width: 78%;
  right: 0;
  margin-right: 60px;
}

#button-input {
  position: fixed;
  bottom: 0;
  right: 0;
}

.messages {
  height: 25%;
}

html,
body {
  height: 100%;
}
